
.card { 
  /* position: relative; */
  display: flex;
	align-items: center;
	justify-content: center;
  padding: 25px;
	margin: auto;
}

/* .card-body {
  margin-left: 1500px;
} */

li {
  list-style: none;
}